.centered {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0; /* Lower z-index to place it behind other elements */
}

.content {
  position: absolute; /* Position it absolutely */
  top: 0; /* Position it at the top */
  left: 0;
  width: 100%;
  z-index: 1; /* Higher z-index to place it above the video */
  text-align: center;
  color: rgb(8, 8, 8);
  padding: 20px;
  font:bold;
}